*,
*::before,
*::after
{
  box-sizing: border-box;
}

/*Properties*/

:root
{
  --ff-only: 'AmericanTypwrterITCW01-Lt';
  --ff-only_: 'Rubik', sans-serif;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-red: #AE3136;
  --clr-orange: #EC5915;
  --clr-green: #ABA929;
  --clr-blue: #2397CC;
  --clr-black: #1D2226;
  --clr-white: #FFFFFF;
  
  --fs-h1: 3rem;
  --fs-h2: 2.75rem;
  --fs-h3: 1.25rem;
  --fs-h4: 2.5rem;
  --fs-body: 1rem;
}

@media (min-width: 1200px)
{
  :root
  {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 2rem;
    --fs-body: 1.25rem;
  }
}

/* Typography*/

h1,
h2,
h3,
h4
{
  line-height: 1;
  margin: 0;
}

h1{ font-size: var(--fs-h1); }
h2{ font-size: var(--fs-h2); }
h3{ font-size: var(--fs-h3); }

/*General Styles*/

html
{
  scroll-behavior: smooth;
}

.header
{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: auto;
}

.initials
{
  font-family: var(--ff-only_);
  font-size: 2em;
  font-weight: var(--fw-bold);
  text-decoration: underline .1em;
  color: var(--clr-white);
}

body
{
  font-family: var(--ff-only);
  font-size: var(--fs-body);
  background-color: var(--clr-black);
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  padding: auto;
  height: auto;
}

section
{
  padding: 5em 2em;
}

.about-me
  {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
  }
  
  .section__title-about
  {
    grid-area: title;
    grid-column: 1;
    grid-row: 1;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    font-family: var(--ff-only);
    width: 50%;
    height: 10%;
    position: relative;
    left: 300px;
    font-family: var(--ff-only);
  }
  
  .section__subtitle-about
  {
    grid-area: subtitle;
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 300px;
    top: 75px;
    color: var(--clr-white);
    font-family: var(--ff-only_);
    text-align: justify;
    line-height: 1.25;
    width: 500px;
    height: 100%;
  }
  
  .about__img
  {
    grid-area: img;
    grid-column: 1;
    grid-row: 1;
    width: 700px;
    height: 750px;
    position: relative;
    z-index: 1;
    border: .25em groove var(--clr-orange);
  }
  
  .about__img:hover
  {
    transform: translateX(100%);
    animation: left-to-right 3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
    filter: blur(4px);
  }
 /*Tried to have image slide to the right and stop. I figured it might need some javascript. Has glitches*/

  .resume-dwnld
{
  background: var(--clr-black);
  color: var(--clr-white);
  border: .1em solid var(--clr-orange);
  padding: .50em;
  font-family: var(--ff-only);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h3) ;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  transition: .5s;
  display: block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  
}

.resume-dwnld:hover { 
  text-decoration: underline;
  border: .1em groove var(--clr-black);
  background: var(--clr-orange);
}

.footer
{
  text-align: centered;
  padding: 1.75em 0;
  font-size: var(--fs-h4);
}

.footer a 
{ 
  color: inherit;
  text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover
{
  opacity: .7;
}

.footer__link
{
  font-weight: var(--fw-bold);
}
.footer__link:hover
{
  text-decoration: underline;
}

.social-list
{
  color: var(--clr-orange);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 2em 0;
  padding: 0;
}

.social-list__item
{
  margin: 0 1em;
}

.social-list__links /*gives extra clickable space*/
{
  padding: .75em;
}

/*Navigation menu*/
.nav
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list
{
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link
{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
  
}

.nav__link:hover
{
  color: var(--clr-blue);
}

.nav-toggle
{
  padding: .50em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav
{
  transform: translateX(0%);
}

.nav-open .nav-toggle
{
  position: fixed;
}

.nav-open .hamburger
{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before
{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after
{
  opacity: 0;
}

.hamburger
{
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after
{
  background: var(--clr-orange);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 350ms ease-in-out;
}

.hamburger::before,
.hamburger::after
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

@media screen and (max-width: 950px) and (min-width: 500px), (min-width: 800px)
{
  .header
  {
    padding: 1em;
  }

  .initials
  {
    font-size: 1em;
  }

  body
  {
    margin: auto;
    padding: auto;
  }
  
  section
  {
    padding: auto;
    margin: auto;
  }
  
  .about__img
  {
    margin: auto;
    padding: auto;
  }
  
   .resume-dwnld
  {
    padding: auto;
    margin: auto;
  }
  
  .footer
  {
    padding: auto;
    margin: auto;
  }
}

/*animation*/
@keyframes left-to-right
{
  from
  {
    transform: translateX(0);
    width: 800px;
    height: 850px;
  }
  to
  {
    transform: translateX(100%);
    width: 600px;
    height: 700px;
  }
  
}
